<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuhaibin.myblog.mapper.SysMenuMapper">
    <select id="ByidGetmenu" resultType="com.liuhaibin.myblog.pojo.SysMenu">
        SELECT DISTINCT
             m.id,
            `name`,
            `path`,
            component,
            icon,
            is_hidden,
            parent_id,
            order_num
        FROM
            sys_user_role ur
            JOIN sys_role_menu rm ON ur.role_id = rm.role_id
            JOIN `sys_menu` m ON rm.menu_id = m.id
        WHERE
            user_id = #{id}
    </select>
</mapper>
